@model IEnumerable<Models.EF.a_SinhVien>
@{
    int page = int.Parse(ViewBag.page.ToString());
    int maxpage = int.Parse(ViewBag.MaxPage.ToString());
}
<table class="table table-responsive table-hover " id="tblUser">
    <thead>
        <tr>
            <th width="5%"><input id="check-all-delete-js" type="checkbox"></th>
            <th width="10%">Mã sinh viên</th>
            <th width="20%">Họ tên</th>
            <th width="10%" class="text-center">Ngày sinh</th>
            <th width="20%" class="text-center">Địa chỉ</th>
            <th width="15%" class="text-center">Email</th>
            <th width="10%" style="text-align:center">Chức năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-id="@item.ID" id="idtr">
                <td><input type="checkbox" autocomplete="off" class="one-delete-js" /></td>
                <td>@item.MaSV</td>
                <td>@item.HoTen</td>
                <td class="text-center">@item.NgaySinh</td>
                <td class="text-center">@item.DiaChi</td>
                <td class="text-center">@item.Email</td>
                <td style="text-align:center">
                    <a href="#" title="Sửa" type="button" onclick="Add(@item.ID)"><i class="ti-pencil"></i></a>
                    <a href="#" title="Xóa" onclick="Link_DeleteTT_onclick(@item.ID)"><i class="ti-trash"></i></a>
                </td>
            </tr>
        }

    </tbody>
</table>
<div id="content" class="row">
    <div class="text-right col-lg-6" style="float:right;">
        <ul class="pagination">
            @if (page != 1)
            {
                var stt = page - 1;
                <li><a href="/Admin/SinhVien?page=@stt"><i class="fa fa-angle-left"></i></a></li>
            }
            @for (int i = 1; i <= ViewBag.MaxPage; i++)
            {
                if (i == page)
                {
                    <li class="active"><a>@i</a></li>
                }
                else
                {
                    <li><a href="/Admin/SinhVien?page=@i">@i</a></li>
                }
            }
            @if (page != ViewBag.MaxPage && ViewBag.MaxPage != 0)
            {
                var stt = page + 1;
                <li><a href="/Admin/SinhVien?page=@stt"><i class="fa fa-angle-right"></i></a></li>
            }
        </ul>
    </div>
</div>

