@model IEnumerable<Models.EF.a_CuocThiAdView>
@{
    int page = int.Parse(ViewBag.page.ToString());
    int maxpage = int.Parse(ViewBag.MaxPage.ToString());
}
<table class="table table-responsive table-hover " id="tblUser">
    <thead>
        <tr>
            <th width="2%" class="text-center"><input id="check-all-delete-js" type="checkbox"></th>
            <th width="10%" class="text-center">Mã cuộc thi</th>
            <th width="25%" class="text-center">Tên cuộc thi</th>
            <th width="8%" class="text-center">Cấp</th>
            <th width="10%" class="text-center">Bắt đầu</th>
            <th width="10%" class="text-center">Kết thúc</th>
            <th width="10%" class="text-center">Số hạng mục</th>
            <th width="15%" class="text-center">Trạng thái</th>
            <th width="15%" style="text-align:center">Chức năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr data-id="@item.ID" id="idtr">
            <td><input type="checkbox" autocomplete="off" class="one-delete-js" /></td>
            <td>@item.MaCuocThi</td>
            <td>@item.TenCuocThi</td>
            @if (item.Cap == 1)
            {
                <td class="text-center"><span class="badge badge-success">Cấp trường</span></td>
            }
            else
            {
                <td class="text-center"><span class="badge badge-primary">Cấp quốc gia</span></td>
            }
            <td class="text-center">@item.ThoiGianBatDau</td>
            <td class="text-center">@item.ThoiGianKetThuc</td>
            <td style="text-align:center">
                @item.SLHangMuc
            </td>
            @if (item.TrangThai == 1)
            {
                <td class="text-center color-primary">Chưa triển khai </td>
                <td style="text-align:center">
                    <a href="#" onclick="link(@item.ID)" title="Danh sách hạng mục" type="button"><i class="ti-file"></i></a>
                    <a href="#" title="Sửa" type="button" onclick="Add(@item.ID)"><i class="ti-pencil"></i></a>
                    <a href="#" title="Xóa" onclick="Link_DeleteTT_onclick(@item.ID)"><i class="ti-trash"></i></a>
                </td>
            }
            else if (item.TrangThai == 2)
            {
                <td class="text-center color-success">Đang triển khai</td>
                <td></td>
            }
            else if (item.TrangThai == 3)
            {
                <td class="text-center color-danger">Kết thúc</td>
                <td></td>

            }

        </tr>
        }
    </tbody>
</table>
<div id="content" class="row">
    <div class="text-right col-lg-6" style="float:right;">
        <ul class="pagination">
            @if (page != 1)
            {
                var stt = page - 1;
                <li><a href="/Admin/CuocThiAd?page=@stt"><i class="fa fa-angle-left"></i></a></li>
            }
            @for (int i = 1; i <= ViewBag.MaxPage; i++)
            {
                if (i == page)
                {
                    <li class="active"><a>@i</a></li>
                }
                else
                {
                    <li><a href="/Admin/CuocThiAd?page=@i">@i</a></li>
                }
            }
            @if (page != ViewBag.MaxPage && ViewBag.MaxPage != 0)
            {
                var stt = page + 1;
                <li><a href="/Admin/CuocThiAd?page=@stt"><i class="fa fa-angle-right"></i></a></li>
            }
        </ul>
    </div>
</div>

