@using Models.EF;
@{
    ViewBag.Title = "DSDoiThi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<a_HangMuc> lstHangMuc = ViewBag.HangMuc;
    List<a_GiaoVien>lstHLV = ViewBag.lstHLV;
}

<style>
    .lms-input-group {
        margin-top: 15px;
    }

    .error-message {
        color: red;
    }

    #tableLichTrinh thead tr th {
        color: white;
    }
</style>
<div class="row">
    <div class="col-lg-8 p-0">
        <div class="page-header">
            <div class="page-title">
                <h1>Quản lý đội tuyển</h1>
            </div>
        </div>
    </div>
    <!-- /# column -->
    <div class="col-lg-4 p-0">
        <div class="page-header">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="/Admin/HomeAd/Index">Trang chủ</a></li>
                    <li>Trang chủ</li>
                    <li class="active">Đội tuyển</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /# column -->
</div>
<div class="main-content">
    <div class="row">
        <input type="hidden" id="hdIDCuocThi" value="@Session["IDCuocThi"]" />
        <div class="card alert">
            <div class="card-header">
                <div class="col-lg-6" style="padding-left:0px">
                    <div class="button-list">
                        <button type="button" class="btn btn-success  btn-flat btn-addon m-b-10 m-l-5" onclick="Add(0)"><i class="ti-plus"></i> Thêm mới</button>
                        <button type="button" disabled class="btn btn-danger btn-flat btn-addon m-b-10 m-l-5 " id="btn-delete-all" onclick="Link_DeleteTT_onclick(0)"><i class="ti-trash"></i> Xóa bỏ</button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-4">
                            <select id="ddlSearch_HangMuc" class="form-control">
                                <option value="0">Tất cả</option>
                                @foreach (var item in lstHangMuc)
                                {
                                    <option value="@item.ID">@item.TenHangMuc</option>
                                }
                            </select>
                        </div>
                        <div class="col-lg-8 custom-search-form">
                            <input type="text" class="form-control" tabindex="2" value="@ViewBag.Search" name="Search" id="txtSearch" placeholder="Tìm kiếm..." />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body" id="tableNguoiDung">
                @Html.Action("getListDoiThi", "NguoiThi")
            </div>
        </div><!-- /# card -->
    </div>
</div>
<!-- Modal xóa -->
@Html.Partial("~/Areas/Admin/Views/Shared/HoiXacNhan_Modal.cshtml")
<!-- Modal thông báo -->
@Html.Partial("~/Areas/Admin/Views/Shared/ThongBao_Modal.cshtml")

<!-- Modal -->
<div id="addNewUser" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="tieude"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input id="id" name="id" style="display:none" value="0" />
                        <div class="col-md-6">
                            <div class="lms-input-group">
                                <div class="input-group-title right">Mã đội tuyển <span class="text-danger">(*) </span></div>
                                <div class="input-group-content">
                                    <input type="text" id="txtMa" name="txtMa" value="" class="form-control" maxlength="15" />
                                </div>
                                <span id="errMa" style="display:none;" class="error-message pull-right"></span>
                            </div>
                            <div class="lms-input-group">
                                <div class="input-group-title right">Hạng mục thi<span class="text-danger"></span></div>
                                <div class="input-group-content">
                                    <select id="dllHM" class="form-control">
                                        @foreach (var item in lstHangMuc)
                                        {
                                            <option value="@item.ID">@item.TenHangMuc</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="lms-input-group">
                                <div class="input-group-title right">Tên đội tuyển <span class="text-danger">(*) </span></div>
                                <div class="input-group-content">
                                    <input type="text" name="txtTen" class="form-control" id="txtTen" />
                                </div>
                                <span id="errTen" style="display:none;" class="error-message pull-right"></span>
                            </div>
                            <div class="lms-input-group">
                                <div class="input-group-title right">Huấn luyện viên</div>
                                <div class="input-group-content">
                                    <select id="dllHLV" class="form-control">
                                        @foreach (var item in lstHLV)
                                        {
                                            <option value="@item.ID">@item.HoTen</option>
                                        }
                                    </select>
                                </div>
                                <span id="errTenHLV" style="display:none;" class="error-message pull-right"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="text-align:center">
                <button class="btn btn-success" type="button" id="btnAddUser" onclick="Save()"><i class="ti-save" aria-hidden="true"></i><span> Lưu</span></button>
                <button class="btn btn-primary" type="reset" data-dismiss="modal"><i class="ti-close" aria-hidden="true"></i><span> Hủy</span></button>
            </div>
        </div>
    </div>
</div>

<div id="divMember" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input type="hidden" id="idHM" />
                        <input type="hidden" id="HM_SL" />
                        <input type="hidden" id="hdID_DoiThi" />
                        <div class="col-md-6">
                            <div class="lms-input-group">
                                <div class="input-group-title right">Mã hạng mục</div>
                                <div class="input-group-content">
                                    <input type="text" id="txtMaHM" name="txtMaHM" value="" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="lms-input-group">
                                <div class="input-group-title right">Thời gian bắt đầu</div>
                                <div class="input-group-content">
                                    <input type="text" id="txtHMTGBD" name="txtHMTGBD" value="" class="form-control dateformat" disabled data-inputmask="'alias': 'dd/mm/yyyy'" data-mask=""/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="lms-input-group">
                                <div class="input-group-title right">Tên hạng mục</div>
                                <div class="input-group-content">
                                    <input type="text" name="txtTenHM" class="form-control" id="txtTenHM" />
                                </div>
                                <span id="errTen" style="display:none;" class="error-message pull-right"></span>
                            </div>
                            <div class="lms-input-group">
                                <div class="input-group-title right">Thời gian kết thúc</div>
                                <div class="input-group-content">
                                    <input type="text" id="txtHMTGKT" name="txtHMTGKT" value="" class="form-control dateformat" disabled data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="lms-input-group">
                                <div class="input-group-content">
                                    Danh sách thành viên
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="lms-input-group">
                                <div class="input-group-content">
                                    <a class="btn btn-success" id="btnAddSV">Thêm sinh viên</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-responsive table-hover">
                            <thead>
                                <tr>
                                    @*<th class="text-center" width="5%"><input id="check-all-delete-js" type="checkbox"></th>*@
                                    <th class="text-center" width="10%">STT</th>
                                    <th class="text-center" width="25%">Mã sinh viên</th>
                                    <th class="text-center" width="35%">Tên sinh viên</th>
                                    <th class="text-center" width="20%">Lớp</th>
                                    <th class="text-center" width="10%"><i class="ti-help"></i></th>
                                </tr>
                            </thead>
                            <tbody id="tblMember">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="text-align:center">
                <button class="btn btn-success" type="button" id="btnAddUser" onclick="Save()"><i class="ti-save" aria-hidden="true"></i><span> Lưu</span></button>
                <button class="btn btn-primary" type="reset" data-dismiss="modal"><i class="ti-close" aria-hidden="true"></i><span> Hủy</span></button>
            </div>
        </div>
    </div>
</div>


<div id="divLSTSV" class="modal fade" role="dialog">
    <div class="modal-dialog" style="top:20%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="lms-input-group">
                                <div class="input-group-content">
                                    Danh sách sinh viên
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-responsive table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center" width="10%">STT</th>
                                    <th class="text-center" width="25%">Mã sinh viên</th>
                                    <th class="text-center" width="35%">Tên sinh viên</th>
                                    <th class="text-center" width="20%">Lớp</th>
                                    <th class="text-center" width="10%"></th>
                                </tr>
                            </thead>
                            <tbody id="tbllstSV">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="text-align:center">
                <button class="btn btn-success" type="button" id="btnAddUser" onclick="OK()"><i class="ti-save" aria-hidden="true"></i><span> Đồng ý</span></button>
                <button class="btn btn-primary" type="reset" data-dismiss="modal"><i class="ti-close" aria-hidden="true"></i><span> Hủy</span></button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Areas/Admin/Js/NguoiThi.js"></script>
}