@using Models.EF;
@model IEnumerable<Models.EF.CaNhanView>
@{
    int page = int.Parse(ViewBag.page.ToString());
    int maxpage = int.Parse(ViewBag.MaxPage.ToString());
    List<CaNhanView> lstCaNhanDK = ViewBag.lstCaNhanDK;
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    .w3-black {
        background-color: cornflowerblue !important;
    }

    .w3-bar w3-black {
        color: white;
    }
</style>
<div class="w3-bar w3-black">
    <button class="w3-bar-item w3-button active" onclick="openCity('London')">Danh sách đăng ký</button>
    <button class="w3-bar-item w3-button " onclick="openCity('Paris')">Danh sách tham gia thi</button>
</div>

<div id="Paris" class="w3-container w3-display-container city" style="display: none;">
    <table class="table table-responsive table-hover " id="tblUser">
        <thead>
            <tr>
                <th class="text-center" width="5%"><input id="check-all-delete-js" type="checkbox"></th>
                <th class="text-left" width="25%">Tên sinh viên</th>
                <th class="text-center" width="20%">Tên hạng mục thi</th>
                <th class="text-center" width="5%">Điểm</th>
                <th class="text-center" width="15%">Kết quả/ giải thưởng</th>
                @*<th class="text-center" width="15%">Chức năng</th>*@
            </tr>
        </thead>
        <tbody id="body_DSThiCN">
            @foreach (var item in Model)
            {
                <tr data-id="@item.ID" id="idtr_@item.IDHM_SV">
                    <td class="text-center"><input type="checkbox" autocomplete="off" class="one-delete-js" /></td>
                    @{
                        var test = DateTime.Now.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture);
                        DateTime thoiGianHienTai = DateTime.ParseExact(test, "dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture);
                        DateTime thi = DateTime.ParseExact(item.ThoiGianBatDauThi, "dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture);

                    }

                    <td class="text-left">@item.HoTen</td>
                    <td class="text-center">@item.TenHangMuc</td>
                    @{
                        DateTime chamdiem = DateTime.ParseExact(item.ThoiGianBatDauChamDiem, "dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture);
                        DateTime chamdiemEnd = DateTime.ParseExact(item.ThoiGianKetThucChamDiem, "dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture);
                        if (thoiGianHienTai >= chamdiem && thoiGianHienTai <= chamdiemEnd)
                        {
                            <td class="text-center"><input value="@item.Diem" onchange="changeDiem(@item.IDHM_SV)" id="txtDiem_@item.IDHM_SV" /></td>
                            <td class="text-center"><input value="@item.GiaiThuong" onchange="changeGT(@item.IDHM_SV)" id="inpGT_@item.IDHM_SV" /></td>
                        }
                        else
                        {
                            <td class="text-center"><input value="@item.Diem" disabled onchange="changeDiem(@item.IDHM_SV)" id="txtDiem_@item.IDHM_SV" /></td>
                            <td class="text-center"><input value="@item.GiaiThuong" disabled onchange="changeGT(@item.IDHM_SV)" id="inpGT_@item.IDHM_SV" /></td>
                        }
                    }

                    @*<td style="text-align:center">
                        <a href="#" title="Xóa" onclick="DelSVThiCN(@item.IDHM_SV)"><i class="ti-trash"></i></a>
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
    <div id="content" class="row">
        <div class="text-right col-lg-6" style="float:right;">
            <ul class="pagination">
                @if (page != 1)
                {
                    var stt = page - 1;
                    <li><a href="/Admin/NguoiThi/getListDoiThi?page=@stt"><i class="fa fa-angle-left"></i></a></li>
                }
                @for (int i = 1; i <= ViewBag.MaxPage; i++)
                {
                    if (i == page)
                    {
                        <li class="active"><a>@i</a></li>
                    }
                    else
                    {
                        <li><a href="/Admin/NguoiThi/getListDoiThi?page=@i">@i</a></li>
                    }
                }
                @if (page != ViewBag.MaxPage && ViewBag.MaxPage != 0)
                {
                    var stt = page + 1;
                    <li><a href="/Admin/NguoiThi/getListDoiThi?page=@stt"><i class="fa fa-angle-right"></i></a></li>
                }
            </ul>
        </div>
    </div>
</div>

<div id="London" class="w3-container w3-display-container city " style="display: block; ">
    <table class="table table-responsive table-hover " id="tblUser">
        <thead>
            <tr>
                <th class="text-center" width="5%"><input id="check-all-delete-js" type="checkbox"></th>
                <th class="text-left" width="20%">Mã sinh viên</th>
                <th class="text-left" width="40%">Tên sinh viên</th>
                <th class="text-center" width="20%">Tên hạng mục thi</th>
                @*<th class="text-center" width="12%">Trạng thái</th>*@
                <th class="text-center" width="15%">Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in lstCaNhanDK)
            {
                <tr data-id="@item.ID" id="idtrDK_@item.IDHM_SV">
                    <td class="text-center"><input type="checkbox" autocomplete="off" class="one-delete-js" /></td>
                    <td class="text-left">@item.MaSV</td>
                    <td class="text-left">@item.HoTen</td>
                    <td class="text-center">@item.TenHangMuc</td>
                    <td style="text-align:center">
                        <a href="#" title="Duyệt" onclick="Duyet(@item.IDHM_SV)"><i class="ti-check"></i></a>
                        <a href="#" title="Xóa" onclick="Link_DeleteTT_onclick(@item.ID)"><i class="ti-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div id="content" class="row">
        <div class="text-right col-lg-6" style="float:right;">
            <ul class="pagination">
                @if (page != 1)
                {
                    var stt = page - 1;
                    <li><a href="/Admin/NguoiThi/getListDoiThi?page=@stt"><i class="fa fa-angle-left"></i></a></li>
                }
                @for (int i = 1; i <= ViewBag.MaxPage; i++)
                {
                    if (i == page)
                    {
                        <li class="active"><a>@i</a></li>
                    }
                    else
                    {
                        <li><a href="/Admin/NguoiThi/getListDoiThi?page=@i">@i</a></li>
                    }
                }
                @if (page != ViewBag.MaxPage && ViewBag.MaxPage != 0)
                {
                    var stt = page + 1;
                    <li><a href="/Admin/NguoiThi/getListDoiThi?page=@stt"><i class="fa fa-angle-right"></i></a></li>
                }
            </ul>
        </div>
    </div>
</div>