<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quản lý Olympic</title>
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
    <!-- Styles -->
    <style>
        .bootbox .modal-dialog {
            width: 500px;
            top: 20%
        }
        body {
            color: black;
        }
    </style>
    <link href="~/Content/Asset/assets/fontAwesome/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Content/Asset/assets/css/lib/themify-icons.css" rel="stylesheet" />
    <link href="~/Content/Asset/assets/css/lib/mmc-chat.css" rel="stylesheet" />
    <link href="~/Content/Asset/assets/css/lib/sidebar.css" rel="stylesheet" />
    <link href="~/Content/Asset/assets/css/lib/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Asset/assets/css/lib/nixon.css" rel="stylesheet" />
    <link href="~/Content/Asset/assets/css/lib/lobi-panel/lobipanel.min.css" rel="stylesheet" />
    <link href="~/Content/Asset/assets/css/style.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <!-- CSS only -->
</head>
<body>
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <li id="liGiaoVien"><a href="/Admin/dGiaoVien/Index"><i class="fa fa-users"></i> Quản lý giáo viên</a></li>
                    <li id="liSinhVien"><a href="/Admin/SinhVien/Index"><i class="ti-user"></i> Quản lý sinh viên</a></li>
                    <li id="liCuocThi">
                        <a class="sidebar-sub-toggle"><i class="ti-layout"></i> Cuộc thi<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="/Admin/CuocThiAd">Quản lý cuộc thi</a></li>
                            <li><a href="/Admin/LichTrinh">Lịch trình</a></li>
                            <li><a href="#" onclick="ChonKyThi(0)">Thiết lập thi</a></li>
                        </ul>
                    </li>
                    <li id="liBaoCao"><a href="#"><i class="ti-bar-chart-alt"></i> Báo cáo</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /# sidebar -->
    <div class="header">
        <div class="pull-left">
            <div class="logo">
                <a href="/Admin">
                    <img id="logoImg" src="~/Content/Asset/_Logo.png" />
                </a>
            </div>
            <div class="hamburger sidebar-toggle">
                <span class="ti-menu"></span>
            </div>
        </div>
        <div class="pull-right p-r-15">
            <ul>
                <li class="header-icon dib">
                    <i class="ti-bell"></i>
                    <div class="note-count">2</div>
                    <div class="drop-down">
                        <div class="dropdown-content-heading">
                            <span class="text-left">Recent Notifications</span>
                        </div>
                        <div class="dropdown-content-body">
                            <ul>
                                <li>
                                    <a href="#">
                                        <img class="pull-left m-r-10 avatar-img" src="assets/images/avatar/3.jpg" alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">Mr. Jane</div>
                                            <div class="notification-text">5 members joined today </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="pull-left m-r-10 avatar-img" src="assets/images/avatar/3.jpg" alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">Mariam</div>
                                            <div class="notification-text">likes a photo of you</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="pull-left m-r-10 avatar-img" src="assets/images/avatar/3.jpg" alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">Tasnim</div>
                                            <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="pull-left m-r-10 avatar-img" src="assets/images/avatar/3.jpg" alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">Jane Roe</div>
                                            <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="text-center">
                                    <a href="#" class="more-link">See All</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="header-icon dib">
                    <i class="ti-email"></i>
                    <div class="note-count">21</div>
                    <div class="drop-down">
                        <div class="dropdown-content-heading">
                            <span class="text-left">2 New Messages</span>
                            <a href="app-email.html"><i class="ti-pencil-alt pull-right"></i></a>
                        </div>
                        <div class="dropdown-content-body">
                            <ul>
                                <li class="notification-unread">
                                    <a href="#">
                                        <img class="pull-left m-r-10 avatar-img" src="assets/images/avatar/1.jpg" alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">Jane Doe</div>
                                            <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-unread">
                                    <a href="#">
                                        <img class="pull-left m-r-10 avatar-img" src="assets/images/avatar/2.jpg" alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">Jane Roe</div>
                                            <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="pull-left m-r-10 avatar-img" src="assets/images/avatar/3.jpg" alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">Jane Doe</div>
                                            <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="pull-left m-r-10 avatar-img" src="assets/images/avatar/2.jpg" alt="" />
                                        <div class="notification-content">
                                            <small class="notification-timestamp pull-right">02:34 PM</small>
                                            <div class="notification-heading">Jane Roe</div>
                                            <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="text-center">
                                    <a href="#" class="more-link">See All</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="header-icon dib chat-sidebar-icon"><i class="ti-comments"></i></li>
                <li class="header-icon dib">
                    @if (Session["UserImg"] == null || Session["UserImg"].ToString() == "")
                    {
                        <img class="avatar-img" src="/Content/Images/Avatars/images.png" alt="" /> <span class="user-avatar">@Session["UserHoTen"] <i class="ti-angle-down f-s-10"></i></span>
                    }
                    else
                    {
                        <img class="avatar-img" src="@Session["UserImg"]" alt="" /> <span class="user-avatar">@Session["UserHoTen"] <i class="ti-angle-down f-s-10"></i></span>
                    }
                    <div class="drop-down dropdown-profile">
                        <div class="dropdown-content-body">
                            <ul>
                                <li><a href="/Admin/User"><i class="ti-user"></i> <span>Thông tin cá nhân</span></a></li>
                                <li><a onclick="LogOut()"><i class="ti-power-off"></i> <span>Đăng xuất</span></a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="chat-sidebar">
        <!-- BEGIN chat -->
        <div id="mmc-chat" class="color-default">
            <!-- BEGIN CHAT BOX -->
            <div class="chat-box">
                <!-- BEGIN CHAT BOXS -->
                <ul class="boxs"></ul>
                <!-- END CHAT BOXS -->
                <div class="icons-set">
                    <div class="stickers">
                        <div class="had-container">
                            <div class="row">
                                <div class="s12">
                                    <ul class="tabs" style="width: 100%;height: 60px;">
                                        <li class="tab col s3">
                                            <a href="#tab1" class="active">
                                                <img src="assets/images/1.png" alt="" />
                                            </a>
                                        </li>
                                        <li class="tab col s3"><a href="#tab2">Test 2</a></li>
                                    </ul>
                                </div>
                                <div id="tab1" class="s12 tab-content">
                                    <ul>
                                        <li><img src="assets/images/1.png" alt="" /></li>
                                        <li><img src="assets/images/1.png" alt="" /></li>
                                        <li><img src="assets/images/1.png" alt="" /></li>
                                        <li><img src="assets/images/1.png" alt="" /></li>
                                        <li><img src="assets/images/1.png" alt="" /></li>
                                        <li><img src="assets/images/1.png" alt="" /></li>
                                        <li><img src="assets/images/1.png" alt="" /></li>
                                        <li><img src="assets/images/1.png" alt="" /></li>
                                        <li><img src="assets/images/1.png" alt="" /></li>
                                        <li><img src="assets/images/1.png" alt="" /></li>
                                        <li><img src="assets/images/1.png" alt="" /></li>
                                        <li><img src="assets/images/1.png" alt="" /></li>
                                        <li><img src="assets/images/1.png" alt="" /></li>
                                    </ul>
                                </div>
                                <div id="tab2" class="s12 tab-content">Test 2</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CHAT BOX -->
            <!-- BEGIN SIDEBAR -->
            <div id="sidebar" class="right scroll">
                <div class="had-container">
                    <!-- BEGIN USERS -->
                    <div class="users">
                        <ul class="user-list">
                            <!-- BEGIN USER-->
                            <li class="user-tooltip" data-id="1" data-status="online" data-username="Rufat Askerov" data-position="left" data-filter-item data-filter-name="rufat askerov">
                                <!-- BEGIN USER IMAGE-->
                                <div class="user-image">
                                    <img src="assets/images/avatar/1.jpg" class="avatar" alt="Rufat Askerov" />
                                </div>
                                <!-- END USER IMAGE-->
                                <!-- BEGIN USERNAME-->
                                <span class="user-name">Rufat Askerov</span>
                                <span class="user-show"></span>
                                <!-- END USERNAME-->
                            </li>
                            <!-- END USER-->
                            <!-- BEGIN USER-->
                            <li class="user-tooltip" data-id="3" data-status="online" data-username="Alice" data-position="left" data-filter-item data-filter-name="alice">
                                <div class="user-image">
                                    <img src="assets/images/avatar/1.jpg" class="avatar" alt="Alice" />
                                </div>
                                <span class="user-name">Alice</span>
                                <span class="user-show"></span>
                            </li>
                            <!-- BEGIN USER-->
                            <li class="user-tooltip" data-id="7" data-status="offline" data-username="Michael Scofield" data-position="left" data-filter-item data-filter-name="michael scofield">
                                <div class="user-image">
                                    <img src="assets/images/avatar/1.jpg" class="avatar" alt="Michael Scofield" />
                                </div>
                                <span class="user-name">Michael Scofield</span>
                                <span class="user-show"></span>
                            </li>
                            <!-- BEGIN USER-->
                            <li class="user-tooltip" data-id="5" data-status="online" data-username="Irina Shayk" data-position="left" data-filter-item data-filter-name="irina shayk">
                                <div class="user-image">
                                    <img src="assets/images/avatar/1.jpg" class="avatar" alt="Irina Shayk" />
                                </div>
                                <span class="user-name">Irina Shayk</span>
                                <span class="user-show"></span>
                            </li>
                            <!-- BEGIN USER-->
                            <li class="user-tooltip" data-id="6" data-status="offline" data-username="Sara Tancredi" data-position="left" data-filter-item data-filter-name="sara tancredi">
                                <div class="user-image">
                                    <img src="assets/images/avatar/1.jpg" class="avatar" alt="Sara Tancredi" />
                                </div>
                                <span class="user-name">Sara Tancredi</span>
                                <span class="user-show"></span>
                            </li>
                            <!-- BEGIN USER-->
                            <li class="user-tooltip" data-id="7" data-status="offline" data-username="Jane" data-position="left" data-filter-item data-filter-name="Jane">
                                <div class="user-image">
                                    <img src="assets/images/avatar/1.jpg" class="avatar" alt="Jane" />
                                </div>
                                <span class="user-name">Jane</span>
                                <span class="user-show"></span>
                            </li>
                        </ul>
                        <div class="chat-user-search">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="ti-search"></i></span>
                                <input type="text" class="form-control" placeholder="Search" data-search />
                            </div>
                        </div>
                    </div>
                    <!-- END USERS -->
                </div>
            </div>
            <!-- END SIDEBAR -->
        </div>
        <!-- END chat -->
    </div>
    <!-- END chat Sidebar-->
    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                @RenderBody()

                <!-- /# main content -->
            </div>
            <!-- /# container-fluid -->
        </div>
        <!-- /# main -->
    </div>
    @Html.Partial("~/Areas/Admin/Views/HomeAd/ChonCuocThi.cshtml");
    <script>
       
        //Gọi modal chọn kỳ thi
        function ChonKyThi(type) {
            if (type == 0) {
                document.getElementById("divHinhThucThi").style.display = 'block';
                $('#loaiMD').val('1');
            }
            else {
                document.getElementById("divHinhThucThi").style.display = 'none';
            }
            $.ajax({
                url: '/HomeAd/GetCuocThi?type='+type,
                success: function (res) {
                    var selectCuocThi = $('#txtKyThi_ChonKyThi');
                    var op = "<option value=0>Chọn cuộc thi</option>";
                    $.each(res.data, function (i, item) {
                        op += '<option value=' + item.ID + '>' + item.TenCuocThi + '</option>'
                    });
                    selectCuocThi.html(op);
                }
            });
            $('#mdlChonKyThi').modal('show');
        }
        function Get_IDKyThi() {
            var id = $('#txtKyThi_ChonKyThi').val();
            if (id == 0) {
                $('#macuocthi').text('');
                $('#txtMa_ChonKyThi').text('');
                $('#txtTen_ChonKyThi').html('');
                $('#txtNgayBD_ChonKyThi').html('');
                $('#txtNgayKT_ChonKyThi').html('');
                $('#txtIDKyThi_ChonKyThi').val(0);
                document.getElementById("btnChonCuocThi_DongY").disabled = true;
            }
            else {
                $.ajax({
                    url: '/HomeAd/GetDetailCuocThi',
                    data: { id: id },
                    type: 'post',
                    success: function (result) {
                        if (result.status == true) {
                            $('#macuocthi').text(result.data.MaCuocThi);
                            $('#txtMa_ChonKyThi').text(result.data.MaCuocThi);
                            $('#txtTen_ChonKyThi').html(result.data.TenCuocThi);
                            $('#txtNgayBD_ChonKyThi').html(result.data.ThoiGianBatDau);
                            $('#txtNgayKT_ChonKyThi').html(result.data.ThoiGianKetThuc);
                            $('#txtIDKyThi_ChonKyThi').val(id);
                            document.getElementById("btnChonCuocThi_DongY").disabled = false;
                        }
                    }
                })
            }
        }
        function DongY_ChonKyThi() {
            var loai = $('#loaiMD').val();
            if (loai == 0) {
                var idKyThi = $('#txtIDKyThi_ChonKyThi').val();
                if (idKyThi != 0) {
                    $('#mdlChonKyThi').modal('hide')
                    Add(0, idKyThi);

                } else {
                    $('#error').html('Vui lòng chọn cuộc thi');
                    $('#error').css('display', 'block');
                }
            }
            else {
                var idKyThi = $('#txtIDKyThi_ChonKyThi').val();
                var idLoai = $('#ddlChonHinhThuc').val();
                if (idKyThi != 0) {
                    $('#mdlChonKyThi').modal('hide');
                    if (idLoai == 1) {
                        window.location = '/Admin/NguoiThi/DSDoiThi?idCuocThi=' + idKyThi;
                    }
                    else {
                        window.location = '/Admin/NguoiThi/DSThiCaNhan?idCuocThi=' + idKyThi;
                    }
                } else {
                    $('#error').html('Vui lòng chọn cuộc thi');
                    $('#error').css('display', 'block');
                }
            }
            
        };
    </script>
    <!-- /# content wrap -->
    <script src="~/Content/Asset/assets/js/lib/jquery.min.js"></script>
    <script src="~/Content/Asset/js/bootbox.min.js"></script>

    <!-- jquery vendor -->
    <script src="~/Content/Asset/assets/js/lib/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->
    <script src="~/Content/Asset/assets/js/lib/sidebar.js"></script>
    <!-- sidebar -->
    <script src="~/Content/Asset/assets/js/lib/bootstrap.min.js"></script>
    <!-- bootstrap -->
    <script src="~/Content/Asset/assets/js/lib/mmc-common.js"></script>
    <script src="~/Content/Asset/assets/js/lib/mmc-chat.js"></script>
    <!--  Chart js -->
    <script src="~/Content/Asset/assets/js/lib/chart-js/Chart.bundle.js"></script>
    <script src="~/Content/Asset/assets/js/lib/chart-js/chartjs-init.js"></script>


    <script src="~/Content/Asset/assets/js/lib/datamap/d3.min.js"></script>
    <script src="~/Content/Asset/assets/js/lib/datamap/topojson.js"></script>
    <script src="~/Content/Asset/assets/js/lib/datamap/datamap-init.js"></script>
    <script src="~/Content/Asset/assets/js/lib/datamap/datamaps.world.min.js"></script>
    <script src="~/Content/Asset/assets/js/lib/lobi-panel/lobipanel.js"></script>
    <!-- // Datamap -->
    <script src="~/Content/Asset/assets/js/scripts.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <!-- scripit init-->
    <script src="~/Content/Asset/assets/input-mask/jquery.inputmask.js"></script>
    <script src="~/Content/Asset/assets/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/Content/Asset/assets/input-mask/jquery.inputmask.extensions.js"></script>
    <script>
        $('.dateformat').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' });
        $(document).ready(function () {
            $('#lobipanel-custom-control').lobiPanel({
                reload: false,
                close: false,
                editTitle: false
            });
        });
    </script>
    <script>
        function LogOut() {
            $.ajax({
                url: '/Admin/Login/LogOut',
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    if (response.status == true) {
                        window.location = '/Admin/Login/Index';
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
